@use "sass:meta";
@font-face {
  font-family: 'Kodchasan-Regular';
  src: url(../fonts/Kodchasan-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan-Medium';
  src: url(../fonts/Kodchasan-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan-Bold';
  src: url(../fonts/Kodchasan-Bold.ttf);
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css('setting');
@include meta.load-css('text');
@include meta.load-css('button');
@include meta.load-css('form');
